header {
    background-color: rgb(0, 191, 255);

    text-align: center;
    }



    body{
        margin: 0;
        background-image: url("../imagenes/imagen.jpeg");
    }

.container{
    
    background-color: rgb(0, 191, 255);
    height: 12.9vh;
    display: flex;

}


.logoPrim{
    width: 14%;
    margin-left: 0%;
    height: 10vh;
    margin-top: 1.5vh;
    margin-left: 2%;
}

.contenedor{
    width: 80%;
    height: 70vh;
    border-radius: 15px;
    border: none;
    
    outline: none;
    border:2px solid rgb(30, 186, 210); 
    text-align: center;
    margin-top: 5vh;
    margin-left: 19vh;
    display: flex;
    background-color: rgb(214, 221, 223);
    font-family: 'Montserrat', sans-serif;
}


.calcular{
    width: 30%;
    height: 6vh;
    margin-top: 60vh;
    left: 500px;
    background-color: rgb(45, 184, 230);
    border:none;
    border-radius: 12px;
    border-bottom: 4px solid rgb(0, 149, 255);
    font-size: 130%;
    font-weight: 700;
    color: rgb(250, 251, 251);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
    margin-left: -4%;
    position: absolute;
}
.calcular:hover{
    box-shadow: 0px 0px 3px 3px rgb(0, 221, 255);
}

.ingresar{
    width: 38%;
    height: 5vh;
    border-radius: 15px;
    border: none;
    font-size: 103%;
    font-weight: 700;
    margin-left: 4%;
    outline: none;
    border:2px solid rgb(30, 186, 210);
    text-align: center;
    margin-top: 7vh;
    
}

.nombre{
    font-size: 128%;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-left: 3%;
    
}

.primero{
    margin-top: 1vh;
    text-align: left;
    margin-left: 5%;
    width: 48%;
}

.segundo{
    margin-top: 1vh;
    text-align: left;
    margin-left: -1%;
}

.registro{
    font-size: 90%;
    margin-left: 69%;
    text-decoration: none;
    font-weight: 700;
    margin-top: 4.5vh;
    border: none;
    background-color: rgb(214, 221, 223);
    border-radius: 10px;
    height: 5vh;
    border-bottom: 3px solid grey;
    cursor: pointer;
}

.registro:hover{
    box-shadow: 0px 0px 3px 1.5px rgb(210, 217, 218);
}

footer {
    width: 97%;
    background-color: rgb(45, 184, 230);
    color: white;
    padding: 20px;
    bottom: 0;
    text-align: center;
    height: 5vh;
    margin-top: 4vh;
    }

.textoFooter{
    font-size: 130%;
    font-weight: 700;
    margin-top: 1vh;
    }

.tituloNav{
    margin-left: 40%;
    font-size: 160%;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    margin-top: 4vh;
    color:white;
    position: absolute;
}

.nombreCartel{
    width: 40%;
    height: 28vh;
    background-color: rgb(0, 157, 255);
    position: absolute;
    z-index: 1;
    margin-left: 20.8%;
    border-radius: 15px;
    text-align: center;
    transition: 1.9s;
    margin-top: 1vh;
    border:3px solid rgb(243, 245, 246);
    display: none;
}

.noCompleto{
    font-size: 130%;
    font-weight: 600;
    color: rgb(244, 247, 248);
    margin-top: -1vh;
    font-family: Arial, Helvetica, sans-serif;
}

.advertencia{
    font-size: 170%;
    font-weight: 700;
    color: rgb(243, 245, 246);
    font-family: 'Montserrat', sans-serif;
    margin-top: 2.8vh;
}

.botonCartel{
    width: 24%;
    height: 5vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 110%;
    font-weight: 700;
    border-bottom: 3px solid rgb(196, 200, 205);
}

.botonCartel:hover{
    box-shadow: 0px 0px 3px 1.5px rgb(210, 217, 218);
}