body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(200, 205, 214);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-radius: 30px;
    height: 75vh;
    margin-top: 4vh;
    margin-bottom: 0vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

h1 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;

}

.logo{
    width: 60%;
    margin-top: -2vh;
}
.textoIniciar{
    text-align: center;
    color: rgb(54, 162, 225);
    font-size: 220%;
    font-weight: 700;
    margin-bottom:3vh;
    margin-top: -1vh;
    font-family: 'Montserrat', sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    text-align: center;
    
    outline: none;
    border:none;
    transition:0.5s;
    border: 1.5px solid rgb(0, 204, 255);
    font-weight: 700;
}

.contra:focus{
    
    border: 2.3px solid rgb(40, 188, 233);
    
}
.usuario:focus{
    
    border: 2.3px solid rgb(40, 188, 233);
    
}









.textoUsuario{
    font-size: 140%;
    margin-left: -70%;
    font-weight: 700;
    color: rgb(94, 94, 101);
    font-family: 'Montserrat', sans-serif;
}
.textoContra{
    font-size: 140%;
    margin-left: -65%;
    font-weight: 700;
    color: rgb(94, 94, 101);
    font-family: 'Montserrat', sans-serif;
}
.titulo{
    font-size: 190%;
    font-weight: 700;
    text-align: center;
    margin-top: 4vh;
    color: rgb(69, 69, 73);
    font-family: 'Montserrat', sans-serif;
}
.botonIngresar{
    width: 38%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    font-size: 130%;
    background-color: rgb(40, 177, 227);
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: -40vh;
    font-family: 'Montserrat', sans-serif;
}
.datos{
    position: absolute;
    margin-top: -18.5vh;
    margin-left: 19%;
    font-size: 110%;
    font-weight: 700;
    color: rgb(255, 42, 0);
    display: none;
    font-family: 'Montserrat', sans-serif;
}
.usuarioVacio{
    position: absolute;
    margin-top: -31vh;
    margin-left: 35.8%;
    font-weight: 700;
    display: none;
    font-family: 'Montserrat', sans-serif;
}
.contraseñaVacio{
    position: absolute;
    margin-top: -15vh;
    margin-left: 35.8%;
    font-weight: 700;
    display: none;
    font-family: 'Montserrat', sans-serif;
}